*.autosave
/nbproject/
*/nbproject/
*/*/nbproject/
*~
.idea/
*.iml

pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties

.mvn

/target
/*/target/
/*/*/target/

FROST-Server.HTTP/keycloak.json
FROST-Server.MQTT/FrostMqtt.properties
logs
