<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <variable name="FROST_LL" value="${FROST_LL:-INFO}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.8thread] %-5level %30logger{30} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${FROST_LL}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
