<configuration scan="true">
    <variable name="FROST_LL" value="${FROST_LL:-INFO}" />
    <variable name="FROST_LL_parser" value="${FROST_LL_parser:-INFO}" />
    <variable name="FROST_LL_settings" value="${FROST_LL_settings:-INFO}" />
    <variable name="FROST_LL_queries" value="${FROST_LL_queries:-INFO}" />
    <variable name="FROST_LL_io_moquette" value="${FROST_LL_io_moquette:-WARN}" />
    <variable name="FROST_LL_liquibase" value="${FROST_LL_liquibase:-INFO}" />
    <variable name="FROST_LL_org_jooq" value="${FROST_LL_org_jooq:-INFO}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%16thread] %-5level %30logger{30} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/SensorThingsService.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover. Make sure the path matches the one in the file element or else
            the rollover logs are placed in the working directory. -->
            <fileNamePattern>logs/SensorThingsImporter_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <!-- keep 5 days' worth of history -->
            <maxHistory>5</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="de.fraunhofer.iosb.ilt.frostserver.parser" level="${FROST_LL_parser}"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.settings" level="${FROST_LL_settings}"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.persistence.pgjooq.QueryBuilder" level="${FROST_LL_queries}"/>
    <logger name="io.moquette" level="${FROST_LL_io_moquette}"/>
    <logger name="liquibase" level="${FROST_LL_liquibase}"/>
    <logger name="org.jooq" level="${FROST_LL_org_jooq}"/>

    <root level="${FROST_LL}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
