# If empty, use the chart name as common base name for any FROST-Server Kubernetes component
name:

frost:
  ######################################
  # FROST-Server general configuration #
  ######################################
  alwaysOrderbyId: true
  logSensitiveData: false
  queueLoggingInterval: 0

  # Extra global environment variables added to both MQTT and HTTP pods.
  # This can be simple key-value pairs
  envExtra:
    #some_var_one: one

  #####################################
  # FROST-Server plugin configuration #
  #####################################
  plugins:
    providedPlugins:
    plugins:
    actuation:
      enable: false
      idType:
        actuator:
        task:
        taskingCapability:
    coreModel:
      enable: true
      editableDsProperties: false
      idType:
        default: LONG
        datastream:
        feature:
        historicalLocation:
        location:
        observedProperty:
        observation:
        sensor:
        thing:
    multiDatastream:
      enable: false
      idType:
        multiDatastream:
    modelLoader:
      enable: false
      modelPath:
      modelFiles:
      liquibasePath:
      liquibaseFiles:
      securityPath:
      securityFiles:
    dataArray:
      enable: true
    csv:
      enable: true
    geojson:
      enable: true
    batchProcessing:
      enable: true
    odata:
      enable: false
    openApi:
      enable: false

  ########################################
  # FROST-Server Extension configuration #
  ########################################
  extension:
    customLinks:
      enable:
      recurseDepth:
    filterDelete:
      enable:

  auth:
    provider:
    allowAnonymousRead: false
    authenticateOnly:
    role:
      read:
      create:
      update:
      delete:
      admin:
    realmName: FROST-Server
    plainTextPassword: true
    db:
      autoUpdate: "{{ .Values.frost.http.db.autoUpdate }}"
      maximumConnection: "{{ .Values.frost.http.db.maximumConnection }}"
      maximumIdleConnection: "{{ .Values.frost.http.db.maximumIdleConnection }}"
      minimumIdleConnection: "{{ .Values.frost.http.db.minimumIdleConnection }}"
    keycloakConfig:
    keycloakConfigFile:
    keycloakConfigUrl:
    keycloakConfigSecret:

  logging:
    default:
    parser:
    queries:
    requests:
    service:
    settings:
    moquette:
    liquibase:
    jooq:

  ##########################################
  # FROST-Server HTTP module configuration #
  ##########################################
  http:
    enabled: true
    image:
      registry: docker.io
      repository: fraunhoferiosb/frost-server-http
      tag: latest
      pullPolicy: IfNotPresent
      imagePullSecret:
    # FROST-Server HTTP deployment settings
    replicas: 1
    serviceType: ClusterIP
    ports:
      http:
        nodePort:
        servicePort: 80
    ingress:
      enabled: true      
      ## Set a specific ingress-class for the ingress ([default] not set)
      # className: nginx-hamel
      ## Defines the type of ingress-Controller in use (nginx [default], agic ) 
      # ingressProvider: agic
      ## Additional annotations
      # annotations:
      #   cert-manager.io/cluster-issuer: letsencrypt
      #   cert-manager.io/issue-temporary-certificate: "true"
      tls:
        enabled: false
        secretName: []

    # FROST-Server HTTP deployment resource option. An empty resources field will default to the limits of the namespace.
    resources:
      # limits:
      #   cpu: 1000m
      #   memory: 1Gi
      requests:
        cpu: 500m
        memory: 1Gi

    # FROST-Server HTTP lifecycle options.
    lifecycle:

    # FROST-Server HTTP volumeMounts options.
    volumeMounts:

    # FROST-Server HTTP volumes.
    volumes:

    securityContext:

    # FROST-Server HTTP business settings
    serviceHost: frost-server
    urlSubPath: ""
    serviceProtocol: http
    servicePort:
    defaultCount: false
    defaultTop: 100
    maxTop: 1000
    maxDataSize: 25000000
    useAbsoluteNavigationLinks: true

    # FROST-Server Cross-Origin Resource Sharing settings to the FROST-Server HTTP
    cors:
      enable: false
      allowed:
        headers: Origin, Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers, Authorization
        methods: GET, HEAD, OPTIONS
        origins: '*'
      exposed:
        headers: Location
      preflight:
        maxage: 1800
      request:
        decorate: true
      support:
        credentials: false


    # FROST-Server Database related settings to the FROST-Server HTTP
    db:
      autoUpdate: true
      maximumConnection: 10
      maximumIdleConnection: 10
      minimumIdleConnection: 10

    # FROST-Server Messages Bus related settings to the FROST-Server HTTP
    bus:
      sendWorkerPoolSize: 10
      sendQueueSize: 2000
      recvWorkerPoolSize: 10
      recvQueueSize: 2000
      maxInFlight: 50

    # Extra environment variables added to HTTP pods.
    envExtra:

  ##########################################
  # FROST-Server MQTT module configuration #
  ##########################################
  mqtt:
    enabled: true
    image:
      registry: docker.io
      repository: fraunhoferiosb/frost-server-mqtt
      tag: latest
      pullPolicy: IfNotPresent
      imagePullSecret:
    # FROST-Server MQTT deployment settings
    annotations: {}
    serviceType: ClusterIP
    replicas: 1
    ports:
      mqtt:
        nodePort: 
        servicePort: 1883
      websocket:
        nodePort: 
        servicePort: 9876
    host: 0.0.0.0
    internalHost: localhost

    secureWebsocketPort:
    stickySessionTimeout: 10800
    exposedEndpoints:
    javaKeystorePath:
    keyManagerPassword:
    keyStorePassword:
    persistentStoreType: memory
    session_queue_size: 1024
    session_timeout_seconds: 3600
    sslPort:
    netty:
      mqtt:
        message_size: 8092

    ingress:
      enabled: true      
      ## Set a specific ingress-class for the ingress ([default] not set)
      # className: azure-application-gateway
      ## Defines the type of ingress-Controller in use (nginx [default], agic or traefik) 
      # ingressProvider: agic
      ## Additional annotations
      annotations:
        nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
        nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
        # cert-manager.io/cluster-issuer: letsencrypt
        # cert-manager.io/issue-temporary-certificate: "true"
      tls:
        enabled: false
        secretName: []

    # FROST-Server MQTT business settings
    serviceHost: "" # default URI is the same then frost.http.serviceHost"
    urlSubPath: "" # default is mqtt 
    serviceProtocol: http
    qos: 2
    subscribeMessageQueueSize: 100
    subscribeThreadPoolSize: 10
    createMessageQueueSize: 100
    createThreadPoolSize: 10
    maxInFlight: 50
    waitForEnter: false

    # FROST-Server Database related settings to the FROST-Server MQTT
    db:
      autoUpdate: false
      maximumConnection: 10
      maximumIdleConnection: 10
      minimumIdleConnection: 10

    # FROST-Server Messages Bus related settings to the FROST-Server MQTT
    bus:
      sendWorkerPoolSize: 10
      sendQueueSize: 2000
      recvWorkerPoolSize: 10
      recvQueueSize: 2000
      maxInFlight: 50

    # FROST-Server MQTT lifecycle options.
    lifecycle:

    # FROST-Server MQTT volumeMounts options.
    volumeMounts:

    # FROST-Server MQTT volumes.
    volumes:

    securityContext:

    # Extra environment variables added to MQTT pods.
    envExtra:

  ##############################################
  # FROST-Server Database module configuration #
  ##############################################
  db:
    enableIntegratedDb: true
    dbExternalConnectionString: "jdbc:postgresql://externaldbhost:5432/sensorthings"
    image:
      registry: docker.io
      repository: postgis/postgis
      tag: 14-3.2-alpine
      pullPolicy: IfNotPresent
      imagePullSecret:
    # FROST-Server Database deployment settings
    ports:
      postgresql:
        servicePort: 5432
    persistence:
      enabled: false
      existingClaim:
      storageClassName:
      accessModes:
        - ReadWriteOnce
      capacity: 10Gi
      mountPath: /var/lib/postgresql/data
      hostPath:
    requiredHostname:

    # Common FROST-Server Database properties, shared by any other FROST-Server modules
    driver: "org.postgresql.Driver"
    implementationClass: "de.fraunhofer.iosb.ilt.frostserver.persistence.pgjooq.PostgresPersistenceManager"
    idGenerationMode: "ServerGeneratedOnly"
    transactionRole: false
    countMode: "FULL"
    database: sensorthings
    # Set this to your own created secret if needed
    existingSecret:
    secretUsernameKey: db.username
    secretPasswordKey: db.password
    username: c2Vuc29ydGhpbmdz
    password: bm93eW91Y2FuY2hhbmdlaXQ=
    securityContext:
      runAsUser:
      runAsGroup:
      fsGroup:

  ##############################################
  # FROST-Server Backup module configuration #
  ##############################################
  backup:
    enabled: false
    image:
      registry: docker.io
      repository: kartoza/pg-backup
      tag: 14-3.2
      pullPolicy: IfNotPresent
      imagePullSecret:

    removeBefore: 14

    persistence:
      existingClaim:
      storageClassName:
      accessModes:
        - ReadWriteOnce
      capacity: 10Gi
      mountPath: /backups

    securityContext:
      runAsUser:
      runAsGroup:
      fsGroup:

  ##################################################
  # FROST-Server Messages Bus module configuration #
  ##################################################
  bus:
    image:
        registry: docker.io
        repository: eclipse-mosquitto
        tag: 1.4.12
        pullPolicy: IfNotPresent
        imagePullSecret:
    # FROST-Server Messages Bus deployment settings
    ports:
      bus:
        servicePort: 1883

    # Common FROST-Server Messages Bus properties, shared by any other FROST-Server modules
    implementationClass: "de.fraunhofer.iosb.ilt.sta.messagebus.MqttMessageBus"
    topicName: "FROST-Bus"
    qos: 2
