
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- pattern>%d{HH:mm:ss.SSS} [%17thread] %-5level %32logger{32} - %msg%n</pattern -->
            <pattern>%d{HH:mm:ss.SSS} %-5level %40logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="de.fraunhofer.iosb.ilt.frostserver.parser" level="OFF"/>
    <logger name="io.moquette" level="WARN"/>
    <logger name="io.moquette.broker.metrics.MQTTMessageLogger" level="WARN"/>
    <logger name="io.moquette.broker.SessionEventLoop" level="WARN"/>
    <logger name="liquibase" level="WARN"/>
    <logger name="org.jooq" level="WARN"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.frostclient.query.Query" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.persistence.pgjooq" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.statests" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.statests.util.mqtt" level="DEBUG"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.mqtt.SubscriptionManager" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
