
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- pattern>%d{HH:mm:ss.SSS} [%17thread] %-5level %32logger{32} - %msg%n</pattern -->
            <pattern>%d{HH:mm:ss.SSS} %-5level %40logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="de.fraunhofer.iosb.ilt.frostserver.auth.keycloak" level="WARN"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.mqtt.moquette.AuthWrapper" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.mqtt.SubscriptionManager" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.mqtt.SubscriptionSet" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.parser" level="OFF"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.persistence.pgjooq" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.persistence.pgjooq.tables" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.persistence.pgjooq.utils.validator" level="WARN"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.persistence.pgjooq.tables.TableCollection" level="WARN"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.service.PluginManager" level="WARN"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.service.Service" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.settings.Settings" level="WARN"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.messagebus.MqttMessageBus" level="WARN"/>
    <logger name="de.fraunhofer.iosb.ilt.frostserver.messagebus.MqttMessageBus" level="WARN"/>
    
    <logger name="de.fraunhofer.iosb.ilt.frostclient.SensorThingsService" level="WARN"/>
    <logger name="de.fraunhofer.iosb.ilt.frostclient.settings" level="WARN"/>

    <logger name="de.fraunhofer.iosb.ilt.statests" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.statests.util.mqtt.MqttListener" level="INFO"/>
    <logger name="de.fraunhofer.iosb.ilt.statests.util.mqtt.MqttHelper2" level="INFO"/>
    
    <logger name="de.fraunhofer.iosb.ilt.statests.f01auth.FineGrainedAuthTests" level="INFO"/>

    <logger name="de.fraunhofer.iosb.ilt.frostclient.query.Query" level="INFO"/>

    <logger name="io.moquette" level="INFO"/>
    <logger name="io.moquette.broker.PostOffice" level="WARN"/>
    <logger name="io.moquette.broker.metrics.MQTTMessageLogger" level="WARN"/>
    <logger name="io.moquette.broker.NewNettyAcceptor" level="WARN"/>
    <logger name="io.moquette.broker.SessionEventLoop" level="WARN"/>

    <logger name="liquibase" level="WARN"/>

    <logger name="org.jooq" level="WARN"/>
    <logger name="org.eclipse.jetty" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
